
<p>video-player works!</p>
<p> using Video-js Library</p>
<div>
  <video 
  id="my-video" 
  class="video-js vjs-theme-city" 
  controls 
  preload="auto" 
  width="640" height="360" 
  poster="assets/poster.jpg"
  data-setup="{}" 
  autoplay="muted"
  loop="true"
  >
   <source src= "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4"> 
  </video>
</div>

<div style="padding-top: 20px;">
<p>using default video tag (without video-js)</p>
<video controls width="640" height="360" >
  <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"> 
</video>
</div>